@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html,
body,
:root {
  font-family: 'DM Sans', sans-serif;
  color: #2d3748;
}

@layer base {
  html {
    background-color: #fafcfe;
    font-family: 'DM Sans', sans-serif;
    color: #2d3748;
  }
}
.react-calendar {
  max-width: none !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
  min-height: 300px !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #5faad7 !important;
  color: black !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  width: 99% !important;
}

.rbc-toolbar {
  display: none !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}
/* HTML: <div class="loader"></div> */
.loader {
  height: 15px;
  aspect-ratio: 5;
  display: grid;
  --_g: no-repeat radial-gradient(farthest-side, #7ed994 94%, #0000);
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 20% 100%;
  animation: l32 1s infinite;
}
.loader:after {
  background:
    var(--_g) calc(1 * 100% / 3),
    var(--_g) calc(2 * 100% / 3);
  background-size: 20% 100%;
  animation-direction: reverse;
}
@keyframes l32 {
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}

h3 {
  font-size: 18px;
  margin: 10px 0;
}

.react-tooltip {
  z-index: 100;
}
